{
  "folder_id": "b1g8f5lm212bm1qv4j2o",
  "source_image_family": "ubuntu-1604-lts",
  "service_account_key_file": "./key.json",
  "platform_id": "standard-v1",
  "instance_cores": "2",
  "instance_mem_gb": "2",
  "disk_size_gb": "10"
}
